body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("/static/mechanical-engineering-2993233.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
h1 {
    margin-bottom: 20px;
    color: rgb(13, 13, 14);
}
.container {
    max-width: 600px;
    margin: 100px auto 20px;
    padding: 20px;
    background-color: #b7d2ff;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    margin-bottom: 15px;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(10, 10, 10);
}
input[type="number"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"] {
    padding: 10px 20px;
    background-color: #071c32;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
.logout-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.logout-btn:hover {
    background-color: #003d80;
}
.prediction {
    margin-top: 30px;
    padding: 20px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0f0431;
    box-shadow: 0 0 10px rgba(40, 39, 39, 0.1);
}
.failure-reason {
    font-style: italic;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
}

.success {
    background-color: #4CAF50;
}

.error {
    background-color: #f44336;
}