<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Maintenance Predictor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='indexStyles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Machine Maintenance Predictor</h1>
        <button class="logout-btn" onclick="logout()">Logout</button>
        <form action="/predict" method="post" onsubmit="return validateForm()">
        <div class="form-group">
            <label for="air_temperature">Air Temperature (K):</label>
            <input type="text" id="air_temperature" name="air_temperature" min="200" max="350" required>
        </div>
        <div class="form-group">
            <label for="process_temperature">Process Temperature (K):</label>
            <input type="text" id="process_temperature" name="process_temperature" min="200" max="350" required>
        </div>
        <div class="form-group">
            <label for="rotational_speed">Rotational Speed (rpm):</label>
            <input type="number" id="rotational_speed" name="rotational_speed" min="1000" max = "3000" required>
        </div>
        <div class="form-group">
            <label for="tool_wear">Tool Wear (min):</label>
            <input type="number" id="tool_wear" name="tool_wear" min="0" max="400" required>
        </div>
        <div class="form-group">
            <label for="torque">Torque (Nm):</label>
            <input type="number" id="torque" name="torque" min="0" max="100" required>
        </div>
        <div class="form-group">
            <label for="machine_type">Machine Type:</label>
            <select id="machine_type" name="machine_type" required>
                <option value="1">Low</option>
                <option value="2">Medium</option>
                <option value="3">High</option>
            </select>
        </div>
        <input type="submit" value="Predict">
        </form>
    </div>
    <script>
        function validateForm() {
            const airTemperature = parseFloat(document.getElementById('air_temperature').value);
            const processTemperature = parseFloat(document.getElementById('process_temperature').value);
            const rotationalSpeed = parseFloat(document.getElementById('rotational_speed').value);
            const toolWear = parseFloat(document.getElementById('tool_wear').value);
            const torque = parseFloat(document.getElementById('torque').value);

            if (isNaN(airTemperature) || isNaN(processTemperature) || isNaN(rotationalSpeed) || isNaN(toolWear) || isNaN(torque)) {
            alert('Please enter valid numeric values for all fields.');
            return false;
            }

            if (airTemperature <= 200) {
                alert('Air Temperature must be greater than 200 K.');
                return false;
            }
            if (airTemperature > 350) {
                alert('Air Temperature must be lesser than 350 K.');
                return false;
            }
            if (processTemperature > 350) {
                alert('Process Temperature must be lesser than 350 K.');
                return false;
            }

            if (processTemperature <= 200) {
                alert('Process Temperature must be greater than 200 K.');
                return false;
            }
            if (rotationalSpeed < 1000) {
                alert('Rotational Speed must be greater than 1000');
                return false;
            }
            if (rotationalSpeed > 3000) {
                alert('Rotational Speed must be lesser than 3000');
                return false;
            }
            if (toolWear < 0) {
                alert('Tool Wear must be a positive number');
                return false;
            }
            if (toolWear > 400) {
                alert('Tool Wear must be lesser than 400');
                return false;
            }
            if (torque < 0) {
                alert('Torque must be a positive number');
                return false;
            }
            if (torque > 100) {
                alert('Torque must be lesser than 100');
                return false;
            }
            return true;
        }
        function logout() {
        // Redirect to logout route or perform other logout actions
        window.location.href = "/logout";
    }
    </script>
</body>
</html>

